:root {
  /* fonts */
  --title-font-family: 'Barlow Semi Condensed', sans-serif;

  /* button group */
  --icon-color: #FF4155;
  --button-color: #FFDD40;
  --hover-color: #FFB322;  
  --dontknowyet: #FCF0BE;
  --anotherone: #E9EFFF;
  --onemore:#A05838;
  
}

button {
  background: var(--button-color);
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  outline: none;
  color: white;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  transition: all .2s ease-in-out;
}

button:hover {
  background-color: var(--hover-color);
}

label {
  font-family: var(--title-font-family);
  font-weight: 200;
}
.title_wrapper {
  text-align: center;
  padding: 5%;
}
.title {
  font-family: var(--title-font-family);
  font-size: 72px;
  color: var(--icon-color);
}

.title_logo {
  max-width: 5%;
  height: auto;
  padding-right: 2%;
}
.manage_button_group {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show_complete_btn {
  /* float: left; */
}

.add_new_order_btn {
  float: right;
}

li {
  list-style-type: none;
}

.order-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.order-name {
  
}

.order-detail {
  margin-left: 10%;
}

.order-delete-btn {
  margin-left: 10%;
  cursor: pointer;
}

.new-order-card {
  position: absolute;
  max-height: 20rem;
  margin: 1rem auto 0 71%;
  border-radius: 0.5rem;
  width: 25%;
  background-color: rgba(255,113,134,0.8)
  ;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem 1rem 2rem;
}

input::placeholder {
  font-family: var(--title-font-family);
  font-weight: 200;
  font-size: 18px; 
}
input {
  font-size: 1rem;
  width: 100%;				
  height: auto;
  padding: 0.75rem 1.25rem;
  border-radius: 2rem;
  border: none;
  outline: none;
}